[Unit]
Description=browsepy

[Service]
Environment=HOME=/root
Environment=BROWSEPY_HOST=0.0.0.0
Environment=BROWSEPY_PORT=8081

WorkingDirectory=/home/patch/data/user-files/
ExecStart=/usr/local/bin/browsepy 0.0.0.0 8081 --directory /home/patch/data/user-files --upload /home/patch/data/user-files --removable /home/patch/data/user-files
User=patch
Group=patch
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
