[Unit]
Description=MOD-UI
After=mod-host.service
After=browsepy.service
Requires=mod-host.service
Requires=browsepy.service

[Service]
LimitRTPRIO=95
LimitMEMLOCK=infinity
Environment=HOME=/home/pi/
Environment=LV2_PATH=/home/pi/.lv2
Environment=LV2_PLUGIN_DIR=/home/pi/.lv2
Environment=LV2_PEDALBOARDS_DIR=/home/pi/data/pedalboards
Environment=MOD_DEV_ENVIRONMENT=0
Environment=MOD_DEVICE_WEBSERVER_PORT=80
Environment=MOD_LOG=0
Environment=MOD_APP=0
Environment=MOD_LIVE_ISO=0
Environment=MOD_SYSTEM_OUTPUT=1
Environment=MOD_DATA_DIR=/home/pi/data
Environment=MOD_USER_FILES_DIR=/home/pi/data/user-files
Environment=MOD_HTML_DIR=/usr/local/share/mod/html

WorkingDirectory=/home/pi/mod/mod-ui
ExecStart=/usr/local/bin/mod-ui
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
