[Unit]
Description=MOD-UI
After=mod-host.service
Requires=mod-host.service
#Wants=modep-mod-midi-merger.service modep-mod-midi-broadcaster.service

[Service]
LimitRTPRIO=95
LimitMEMLOCK=infinity
Environment=LV2_PATH=/usr/modep/lv2
Environment=LV2_PLUGIN_DIR=/usr/modep/lv2
Environment=LV2_PEDALBOARDS_DIR=/var/modep/pedalboards
Environment=MOD_SYSTEM_OUTPUT=1
Environment=MOD_DATA_DIR=/home/patch/mod-ui
Environment=JACK_PROMISCUOUS_SERVER=jack
Environment=MOD_DEFAULT_PEDALBOARD=/usr/share/mod/default.pedalboard

WorkingDirectory=/home/patch/mod-ui
ExecStart=/usr/bin/python3 /home/patch/mod-ui/server.py
User=root
Group=root
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
